#login {
    margin-top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #006494;

    /* height: 90rem; */
}

#loginPage {
    /* justify-content: center; */
    align-items: center;
    text-align: center;
}

.loginFormDiv {
    /* padding: 20%; */
    /* margin-left: 20rem; */
    padding-top: 1rem;
    width: 25rem;
    height: 16.5rem;
    background-color: #051923;
    box-shadow: 0 0 10rem #003554;
    border-radius: 20px;
    opacity: 85%;
  }
  .loginFormGrid {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }

  #loginHead {
    color: white;
  }

  #loginButton {
    background-color: #003554;
    border-color: #003554;
  }
  #loginButton:hover {
    background-color: #0582CA;
    opacity: 70%;
  }

  #fieldAlert {
    display: none;
    width: 75rem;
    font-size: 20pt;
    font-weight: 500;
  }
  
  #alertDiv {
    display: flex;
    align-items: center;
    justify-content: center;
  }