#login {
    /* margin-top: 15%; */
    display: flex;
    justify-content: center;
    align-content: center;

}

#loginPage {
    background-color: #006494;
    height: 100vh;

}
.mb-3 {
  padding-bottom: 0.75rem;
}

.loginFormDiv {
    padding-top: 1rem;
    margin-top: 15vh;
    height: 28rem;
    width: 25rem;
    background-color: #006494;
    /* box-shadow: 0 0 10rem #003554; */
    border-radius: 25px;
    border-style: solid;
    border-width: 1px;
    border-color: #051923;
    /* opacity: 100%; */
  }
  .loginFormGrid {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 2rem;
  }
  #loginHead {
    color: white;
  }

  #loginButton {
    background-color: #003554;
    border-color: #003554;

    width: 22rem;
  }
  #loginButton:hover {
    background-color: #0582CA;
    opacity: 70%;
  }

  #fieldAlert {
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;

  }
 
