#login {
    /* margin-top: 15%; */
    display: flex;
    justify-content: center;
    align-content: center;

}

#loginPage {
    background-color: #E5E4E2;
    height: 100vh;

}
.mb-3 {
  padding-bottom: 0.75rem;
}

.loginFormDiv {
    padding-top: 1rem;
    margin-top: 15vh;
    height: 28rem;
    width: 23rem;
    /* background-color: #006494; */
    box-shadow: 1.5rem 1.5rem 100rem #003554;
    /* box-shadow: inset 0rem 0rem 30rem #0582CA; */
    border-radius: 25px;
    border-style: solid;
    border-width: 1px;
    border-color: #051923;
    /* opacity: 100%; */
  }
  .loginFormGrid {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 2rem;
  }
  #loginHead {
    color: #003554;
  }

  #loginButton {
    background-color: #003554;
    border-color: #003554;

    width: 20rem;
  }
  #loginButton:hover {
    background-color: #0582CA;
    opacity: 70%;
  }

  #fieldAlert {
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    background-color: darkred;
    opacity: 80%;
    color: white;

  }

  #formGridEmail {
    background-color: #E5E4E2;
    border-style: solid;
    border-width: 1px;
    border-color: #051923;

  }
  #password {
    background-color: #E5E4E2;
    border-style: solid;
    border-width: 1px;
    border-color: #051923;


  }

  #emailIG {
    background-color: #E5E4E2;
    border-style: solid;
    border-width: 1px;
    border-color: #051923;
  }
 
