#secondNav {
    background-color: #003554;
    color: white;
    

}
#marketDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

}
#searchField {
    width: 30rem;
}
#centerNav {
    padding-right: 12rem;
}
.marketNav {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
}
#searchButton {
    background-color: #003554;
    border-color: #003554;
}
#searchButton:hover {
    background-color: #0582CA;
    opacity: 70%;
}
#collasible-nav-dropdown {
    padding-right: 2rem;
}
.itemCardSingle {
    width: 18rem;
    height: auto;
    margin-left: 1rem;
    margin-right: 1rem;
}
.itemContainer {
    display: flex;
    background-color: #003554;
    align-items: center;
    justify-content: center;
}
.items {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 40rem;
    padding-right: 40rem;
}

